[submodule "device-tree-xlnx"]
	path = device-tree-xlnx
	url = https://github.com/Xilinx/device-tree-xlnx
	branch = xlnx_rel_v2021.1
[submodule "linux/project-spec/meta-ros"]
	path = linux/project-spec/meta-ros
	url = https://github.com/ros/meta-ros
	branch = gatesgarth
[submodule "package/app/thirdparty/ydlidar"]
	path = package/app/thirdparty/ydlidar
	url = https://github.com/YDLIDAR/sdk
[submodule "linux/project-spec/meta-vitis-ai"]
	path = linux/project-spec/meta-vitis-ai
	url = https://github.com/Xilinx/meta-vitis-ai.git
	branch = rel-v2021.1
